html{
    padding: 0;
    margin:0;
    font-size: 62.5%; /*Rem ratio 10px --> 1rem*/
}
body{
    font-family:'Open Sans', sans-serif;
    font-size: 1.6rem;
}
/*Globals*/
.container{
    width: calc(93.33%);
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22.6rem;
    padding-top: 6.4rem;
    /*width: 93.33%;*/
}

.logo img{
    width: 5rem;
}

.nav-bar a{
    text-decoration: none;
    font-size: 2.2rem;
    color: #3B3B3B;
}

.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}