/* ********* Variables *********  */
:root{
    --main-font: 'Expletus Sans', cursive;
    --secondary-font:  'Open Sans', sans-serif;
    --grey-color: #161616;
}
/*! ********* Variables End *********  */
/* ********* Globals *********  */
html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    /*Rem ratio 10px --> 1rem*/
    color: var(--grey-color);
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family:var(--secondary-font);
    /*font-family: 'Expletus Sans', cursive;*/
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*! ********* Globals End*********  */

/* ********* Reusable *********  */
.centrar-texto {
    text-align: center;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex;
}

/*! ********* Reusable End*********  */

.box{
    background-color:  var(--grey-color);
    position: absolute;
    top: 6.4rem;
    bottom: 6.4rem;
    left: 6.4rem;
    right: 50%;
    z-index: -1;
}


/* ********* Header *********  */

.header-container {
    /*width: ;*/
    max-width: calc(87.40%);
    margin: 0 auto;
}

/*? Logo*/
.logo-container {
    position: relative;
}

.sun-logo {
    background-image: url("../images/Sol.svg");
    background-repeat: no-repeat;
    height: 8.2rem;
    width: 8.2rem;
    position: absolute;
    left: 200px;
    top: 8.55rem;
    animation: orbit 3s linear infinite;
}

.logo {
    display: inline-block;
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 8.5rem;
    color: #ffffff;
    width: 32rem;
    line-height: 9rem;
}

@keyframes orbit {
    0% {
        transform: scale(0.95) rotate(0deg);
    }
    50%{
        transform: scale(1) rotate(15deg);
    }
    100%{
        transform: scale(0.95) rotate(30deg);
    } 

}
/* ? Nav Bar */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12rem;
    /*width: 93.33%;*/
}

.nav-bar {
    width: 59.2rem;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-links {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-bar a {
    font-family: var(--main-font);
    text-decoration: none;
    font-weight: bold;
    font-size: 3.3rem;
    color:  var(--grey-color);
    position: relative;
    transition: all 0.4s ease;
}
.nav-bar a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--grey-color);
    width: 0;
    left: 50%;
    bottom: -1rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 
}
.nav-bar a:focus:after,
.nav-bar a:hover:after {
    width: 100%;
  }
.nav-bar a:focus:after,
.nav-bar a:hover {
    color: var(--grey-color);
    font-size: 3.4rem;
}
/*! ********* Header End*********  */
.main-container {
    max-width: calc(70%);
    /*Not sure*/
    margin: 0 auto;
    text-align: center;
}

.main-content {
    font-family: var(--main-font);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 49rem;
    align-items: center;

}
.main-text-bar{
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
}
.main-content{
    font-size: 8rem;
}

.main-text-bar span {
    color: white;
}

.brackets-svg{
    max-width: 15rem;
}

.img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-myWork:focus,
.btn-myWork:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 6px #616161;
    -moz-box-shadow: 0px 0px 0px 6px #616161;
    box-shadow: 0px 0px 0px 6px #616161;
}
.btn-myWork {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 3rem;
    padding: 2.15rem 2.4rem;
    border: none;
    background-color: white;
    margin: 0 auto;
    width: auto;
    outline: none;
    border-radius: 5rem;
}
/* ********* Proyects End*********  */
.proyects{
    padding-top: 20rem;
    max-width: calc(60%);
    margin: 0px auto;  
}
.about-me{
    padding-top: 20rem;
    max-width: calc(60%);
    margin: 0px auto;
}
/*! ********* Proyects End*********  */

/* ********* SideBar*********  */
.side-bar{
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 0;
    color: rgb(168, 178, 209);
}


.side-bar::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color:var(--grey-color);
    margin: 0px auto;
}
.side-list{
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.side-list li {
    padding-bottom: 3rem;
}
.side-list a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    cursor: pointer;
}
/*! ********* SideBar End*********  */