html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    background-color: #9c9c9c;
    /*Rem ratio 10px --> 1rem*/
    color: #161616;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Expletus Sans', cursive;*/
    font-size: 1.6rem;
}

h1 {
    margin: 0;
}

/*Globals*/

.logo{
    text-decoration: none;
    font-family: 'Expletus Sans', cursive;
    font-weight: 600;
    font-size: 3rem;
    color: #161616;
}
.header-container {
    /*width: ;*/
    max-width: calc(93.33%);
    margin: 0 auto;
}

.main-container {
    max-width: calc(51.98%);
    /*Not sure*/
    margin: 0 auto;
    text-align: center;
}

.main-content {
    font-family: 'Expletus Sans', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 49rem;
    align-items: center;

}

.main-content h1 {
    font-size: 10rem;
}

h1 span {
    /*color: white;*/
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22.6rem;
    padding-top: 6.4rem;
    /*width: 93.33%;*/
}

.logo img {
    width: 10rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 59.2rem;
}

.nav-bar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 3.3rem;
    color: #161616;
}

.img-brackets {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-myWork {
    font-family: 'Expletus Sans', cursive;
    font-weight: 600;
    font-size: 3rem;
    padding: 2.15rem 2.4rem;
    border: none;
    margin: 0 auto;
    width: auto;
    outline: none;
    border-radius: 5rem;

}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block !important;
}